// Copyright 2020 Daniel Erat. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

rules_version = '2';

function authorized(req, uid) {
  return req.auth != null && req.auth.uid == uid;
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, write: if authorized(request, uid);
    }
    match /users/{uid}/routes/{route} {
      allow read, write: if authorized(request, uid);
    }
    match /users/{uid}/areas/{area} {
      allow read, write: if authorized(request, uid);
    }
    match /users/{uid}/stats/ticks {
      allow read, write: if authorized(request, uid);
    }
    // Access to everything else is denied by default.
  }
}
