// Copyright 2020 Daniel Erat. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid}/routes/{route} {
      // TODO: Update this to be something like the following:
      //   if request.auth != null && request.auth.uid != null &&
      //      request.auth.uid == uid
      allow read, write: if true;
    }
    match /users/{uid}/areas/{area} {
      // TODO: Lock down permissions here too.
      allow read, write: if true;
    }
    // Access to everything else is denied by default.
  }
}
